p {
    width: 2em;
    height: 2em;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 500px) {
    p {
        width: 2em;
        height: 2em;
        margin: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
